[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/guileen/vim-node.git
